@import url('https://fonts.cdnfonts.com/css/bebas');

html, body {
  height: 100%;
  background: linear-gradient(to bottom right,#024,#402);
  color: white;
  text-align: center;
  overflow-y: hidden;
}

.App-logo {
  height: 25vmin;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}

.pokemon-btn {
  border: 2px solid #ffdd56;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
  background-color: transparent;
}

.pokemon-btn:hover {
  animation: ShineAnimation 3s 1;
}

.pokemon-btn:hover img {
  transform: scale(150%);
  transform: rotate(360deg);
  transition: transform 1s ease-in-out;
}

.active {
  background-color: #402;
}

.active img {
  opacity: 0.5;
}

.pokemon-img {
  width: 70px;
}

@media only screen and (max-width: 768px) {
  .pokemon-img {
    width: 50px;
  }
  .pokemon-btn {
    padding: 10px;
  }
}

@keyframes ShineAnimation {
  from {
      background-repeat:no-repeat;
      background-image:-webkit-linear-gradient(
          top left,
          rgba(255, 255, 255, 0.0) 0%,
          rgba(255, 255, 255, 0.0) 45%,
          rgba(255, 255, 255, 0.5) 48%,
          rgba(255, 255, 255, 0.8) 50%,
          rgba(255, 255, 255, 0.5) 52%,
          rgba(255, 255, 255, 0.0) 57%,
          rgba(255, 255, 255, 0.0) 100%
      );
      background-position:-250px -250px;
      background-size: 600px 600px
  }
  to {
      background-repeat:no-repeat;
      background-position:250px 250px;
  }
}


.reset-btn {
  border: 2px solid #ffdd56;
  font-size: 17px;
  text-align: center;
  color: white;
  background-color: transparent;
  margin-top: 10px;
  width: 50%;
  padding:10px;
  font-family: 'Bebas', sans-serif;
}

.reset-btn:hover {
  animation: ShineAnimation 3s 1;
}



